APP_ENV=local
HTTP_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_USER=task_user
DB_PASSWORD=task_pass
DB_NAME=task_db
DATABASE_URL=postgres://task_user:task_pass@postgres:5432/task_db?sslmode=disable

REDIS_HOST=redis
REDIS_PORT=6379
